<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Weather</title>
        {{>links}}
    </head>
    <body>
        {{>header}}
        This is a website created for the Complete Node course, search for the source code at <a href="https://github.com/davidenriq11/weather-website" target="_blank">https://github.com/davidenriq11/weather-website</a>
        {{>footer}}
    </body>
</html>
