<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Weather</title>
        {{>links}}
    </head>
    <body>
        {{>header}}
        {{>footer}}
    </body>
</html>
